<div class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Header -->
    <% include ./partials/header %>
    <!-- ./Header -->
    <!-- Main Sidebar Container -->
    <% include ./partials/sidebar %>
    <!-- ./Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Breadcrumb -->
      <% include ./partials/breadcrumb %>
      <!-- ./Breadcrumb -->

      <!-- Main content -->
      <section class="content">
        <!-- SEARCH PANEL -->
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Search</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                  class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">


            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer" style="text-align: center;">
            Your search result will appear below
          </div>
        </div>
        <!-- /.card -->
        <!-- /.SEARCH PANEL -->
        <div class="shadow-lg p-3 mb-0 bg-white rounded">
          <!-- <div class="card"> -->
          <div class="card-header">
            <h3 class="card-title">Result for your search</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="bookTable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Book</th>
                  <th>Author</th>
                  <th>Publisher</th>
                  <th>ISBN</th>
                  <th>Price</th>
                  <th>Genre</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-primary view"><i class="fas fa-eye"></i></button>
                      <button type="button" class="btn btn-outline-danger pdf" value=""><i
                          class="fas fa-file-pdf"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <!-- </div> -->
          <!-- /.card -->
        </div>
        <br>

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <% include ./partials/footer %>

  </div>
  <!-- ./wrapper -->
</div>
