<div class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Header -->
    <% include ./partials/header %>
    <!-- ./Header -->
    <!-- Main Sidebar Container -->
    <% include ./partials/sidebar %>
    <!-- ./Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Breadcrumb -->
      <% include ./partials/breadcrumb %>
      <!-- ./Breadcrumb -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box callout callout-warning">
                <span class="info-box-icon"><i class="fa fa-book"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Books</span>
                  <span
                    class="info-box-number"><% if (res.locals.bookCount) { %><%= bookCount %><% } else { %>0<% } %></span>

                  <div class="progress">
                    <div class="progress-bar bg-warning progress-bar-striped" style="width: 75%"></div>
                  </div>
                  <span class="progress-description">
                    70% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box callout callout-success">
                <span class="info-box-icon"><i class="fas fa-rupee-sign"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Sold</span>
                  <span class="info-box-number">25,670</span>

                  <div class="progress">
                    <div class="progress-bar bg-success progress-bar-striped" style="width: 60%"></div>
                  </div>
                  <span class="progress-description">
                    70% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- ./col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box callout callout-info">
                <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Likes</span>
                  <span class="info-box-number">141,810</span>

                  <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" style="width: 70%"></div>
                  </div>
                  <span class="progress-description">
                    180% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- ./col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box callout callout-danger">
                <span class="info-box-icon"><i class="far fa-thumbs-down"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Dislikes</span>
                  <span class="info-box-number">4,410</span>

                  <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-striped" style="width: 6%"></div>
                  </div>
                  <span class="progress-description">
                    6% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- ./col -->
          </div>
          <!-- /.row -->
          <!-- Main row -->
          <div class="row">

          </div>
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <% include ./partials/footer %>

  </div>
  <!-- ./wrapper -->
</div>
