<!DOCTYPE html>
<html>

<head>
  <title>Bookstore | Account</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
  <%/* <meta name="robots" content="noindex"> */%>

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/adminlte3/adminlte.css">
  <link rel="stylesheet" href="/styles/datatables-responsive/responsive.bootstrap4.css">
  <link rel="stylesheet" href="/styles/datatables-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/styles/select2/dist/css/select2.css">
  <link rel="stylesheet" href="/styles/sweetalert2/dist/sweetalert2.css">
  <link rel="stylesheet" href="/styles/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="/styles/icheck-bootstrap/icheck-bootstrap.css">
  <link rel="stylesheet" href="/styles/overlayScrollbars/OverlayScrollbars.css">
  <link rel="stylesheet" href="/styles/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.css">
  <link rel="stylesheet" href="/styles/custom.css">
  <!--STYLES END-->
  <script src="/js/jquery/dist/jquery.min.js"></script>
</head>

<body>
  <%- body %>

  <!--TEMPLATES-->
  <!--TEMPLATES END-->

  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/js/jquery/dist/jquery.min.js"></script>
  <script src="/js/jqueryui/jquery-ui.js"></script>
  <script src="/js/bootstrap/dist/js/bootstrap.bundle.js"></script>
  <script src="/js/@fortawesome/fontawesome-free/js/all.js"></script>
  <script src="/js/datatables/jquery.dataTables.js"></script>
  <script src="/js/datatables-bs4/dataTables.bootstrap4.js"></script>
  <script src="/js/datatables-responsive/dataTables.responsive.js"></script>
  <script src="/js/datatables-responsive/responsive.bootstrap4.js"></script>
  <script src="/js/axios/dist/axios.js"></script>
  <script src="/js/moment/moment.js"></script>
  <script src="/js/daterangepicker/daterangepicker.js"></script>
  <script src="/js/select2/dist/js/select2.full.js"></script>
  <script src="/js/sweetalert2/dist/sweetalert2.js"></script>
  <script src="/js/overlayScrollbars/jquery.overlayScrollbars.js"></script>
  <script src="/js/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js"></script>
  <script src="/js/adminlte3/adminlte.js"></script>
  <script src="/js/script.js"></script>
  <!--SCRIPTS END-->
  <!-- PAGE SCRIPTS-->
  <%- blocks.localScripts %>
  <!-- PAGE SCRIPTS END-->
</body>

</html>
