<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    <b>Version</b> 1.0.5
  </div>
  <!-- Default to the left -->
  <span class="text-muted"></span>&copy; <strong>Bookstore App.</strong> 2020 All rights reserved. Built for
  educational purpose.</span>
</footer>
