<!-- Header -->
<% include ./partials/header %>
<!-- ./Header -->

<!-- Main content -->
<main role="main">

  <!-- **********************************
       *                                 *
       *       Blank page template       *
       *                                 *
       *********************************** -->

</main>
<!-- /.content -->
<!-- /.content-wrapper -->
<% include ./partials/footer %>
