<div class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="<%= sails.getUrlFor('Home.index') %>"><img class="navbar-brand" src="/images/books-logo.png"
          alt="Bookstore" width="60" height="70">
      </a>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Register a new membership</p>

        <form action="/register" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" name="username" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <select id="role" type="role" class="form-control" placeholder="Role" name="role" required>
              <option value="">Role</option>
              <option value="Author">Author</option>
              <option value="Reader">Reader</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-sitemap"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Retype password" name="repass" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-star-of-life"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="Agreed" required>
                <label for="agreeTerms">
                  I agree to the <a href="#">terms</a>
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <!--div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Sign up using Google+
          </a>
        </div-->

        <a href="/login" class="text-center">I already have a membership</a>
        <!-- flash message -->
        <% if(res.locals.flash && res.locals.flash.err) { %>
        <br><br>
        <div class="alert alert-secondary alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <% Object.keys(flash.err).forEach(function(error) {%>
          <% JSON.stringify(flash.err[error]) %>
          <% }) %>
        </div>
        <% } %>
        <!-- /.flash message -->
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->
</div>
