<footer class="main-footer">
  <span class="text-muted"></span>&copy; <strong>Bookstore App.</strong> 2020 All rights reserved. Built for
  educational purpose.</span>
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0.5
  </div>
</footer>
